In [16]:
import pymongo

In [17]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")
mydb=myclient["mydatabase"]

In [18]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'schools_db']

In [19]:
dblist=myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

The database exists.

In [20]:
mycol=mydb["customers"]  #creating a collection or table

In [21]:
collist=mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")

The collection exists.

In [22]:
print(mydb.list_collection_names())

['customers']

In [23]:
mydict={"name":"John","address":"Highway 37"}
x=mycol.insert_one(mydict)

In [24]:
data=[{
    "_id":"101","name":"Ram","age":"26","city":"hyderabad"},
    {"_id":"102","name":"Robert","age":"28","city":"mumbai"}
    ]
res=mycol.insert_many(data)
print("Data inserted . . .")
print(res.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: "101" }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': '101'}, 'op': {'_id': '101', 'name': 'Ram', 'age': '26', 'city': 'hyderabad'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [ ]:
print(res.inserted_ids)

['101', '102']

In [ ]:
print("FIRST record of the collection:") 
print(mycol.find_one())

FIRST record of the collection:
{'_id': ObjectId('68c78ba3944ab78332c3c930'), 'name': 'John', 'address': 'Highway 37'}

In [ ]:
print("103 record of the collection:")
print(mycol.find_one())

103 record of the collection:
{'_id': ObjectId('68c78ba3944ab78332c3c930'), 'name': 'John', 'address': 'Highway 37'}

In [ ]:
#retrieving all records
for

In [1]:
#1.Write a Python program to connect to MySQL and print the list of all available databases. 
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['schools_db']
collection = client['schools_db']
print("Database created........")
print("List of databases after creating new one")
print(client.list_database_names())

Database created........
List of databases after creating new one
['admin', 'config', 'local', 'mydatabase', 'school', 'schools_db']

In [ ]:
#2.Create a function in Python to create the tables (students, courses, enrollments) in school_db.
from pymongo import MongoClient

def create_collections():
    db = MongoClient("mongodb://localhost:27017/")["schools_db"]

    # Create unique indexes (like PRIMARY KEY in SQL)
    db.students.create_index("student_id", unique=True)
    db.courses.create_index("course_id", unique=True)
    db.enrollments.create_index("enroll_id", unique=True)

    print(" Collections created with indexes")

create_collections()

 Collections created with indexes

In [29]:
#3
import pandas as pd
from pymongo import MongoClient, errors

client = MongoClient("mongodb://localhost:27017/")
db = client["schools_db"]
df_s = db["students"]

# Load CSV
students = pd.read_csv("./students_export.csv")
df_c = db["courses"]

# Load CSV
courses = pd.read_csv("./courses.csv")
df_e = db["enrollments"]

# Load CSV
enrollments = pd.read_csv("./enrollments.csv")
# Drop any accidental _id column
if "_id" in students.columns:
    students = students.drop(columns=["_id"])

df_students = students.to_dict(orient="records")

# Insert with upsert (avoids duplicate errors)
for rec in df_students:
    df_s.update_one(
        {"student_id": rec["student_id"]},
        {"$set": rec},
        upsert=True
    )

print("CSV data uploaded successfully!")

CSV data uploaded successfully!

In [ ]:
#4. Fetch and print all rows from the students table in a tabular format.
students=list(db["students"].find({},{"_id":0}))
df=pd.DataFrame(students)
print(df.to_string(index=False))

 student_id     name  age grade                email
          1    Zane1   18     C     zane1@school.edu
          2     Uma2   23     A     uma2@outlook.com
          3   Wendy3   22     B     wendy3@yahoo.com
          4  Xander4   22     A  xander4@outlook.com
          5  Victor5   19     A    victor5@gmail.com
          6     Ian6   19     D     ian6@outlook.com
          7     Leo7   22     A       leo7@gmail.com
          8    Paul8   24     B    paul8@outlook.com
          9   Wendy9   23     B    wendy9@school.edu
         10    Leo10   23     A      leo10@yahoo.com
         11    Uma11   18     C     uma11@school.edu
         12   Rita12   18     B   rita12@outlook.com
         13   Yara13   22     B     yara13@yahoo.com
         14    Bob14   19     C    bob14@outlook.com
         15 Quincy15   24     A  quincy15@school.edu
         16   Tina16   19     A     tina16@yahoo.com
         17  Alice17   25     B  alice17@outlook.com
         18    Sam18   20     B      sam18@gmail.com
         19   Paul19   23     A    paul19@school.edu
         20 Victor20   19     D   victor20@gmail.com
         21  Frank21   23     A   frank21@school.edu
         22 Victor22   18     A   victor22@yahoo.com
         23  Karen23   25     A    karen23@yahoo.com
         24  Grace24   24     D    grace24@gmail.com
         25 Quincy25   25     A  quincy25@school.edu
         26   Mona26   20     D     mona26@gmail.com
         27    Uma27   22     B     uma27@school.edu
         28   Nina28   23     B     nina28@yahoo.com
         29    Ian29   23     B     ian29@school.edu
         30   Tina30   23     A   tina30@outlook.com
         31   Nina31   22     B    nina31@school.edu
         32 Hannah32   21     A  hannah32@school.edu
         33  David33   25     D   david33@school.edu
         34  Wendy34   22     B    wendy34@yahoo.com
         35  Frank35   25     C    frank35@yahoo.com
         36   Paul36   22     D   paul36@outlook.com
         37    Ian37   21     D     ian37@school.edu
         38   Paul38   20     C   paul38@outlook.com
         39 Hannah39   18     A hannah39@outlook.com
         40   Zane40   21     A     zane40@yahoo.com
         41    Ian41   24     D    ian41@outlook.com
         42 Quincy42   24     C   quincy42@gmail.com
         43 Quincy43   25     D   quincy43@gmail.com
         44   Tina44   19     C   tina44@outlook.com
         45 Xander45   23     C   xander45@yahoo.com
         46   Zane46   25     C     zane46@gmail.com
         47    Eva47   19     D      eva47@yahoo.com
         48    Leo48   22     B    leo48@outlook.com
         49    Uma49   25     A     uma49@school.edu
         50    Bob50   22     D      bob50@gmail.com
         51  Karen51   18     A  karen51@outlook.com
         52 Hannah52   23     A   hannah52@yahoo.com
         53    Bob53   21     C    bob53@outlook.com
         54    Leo54   18     C      leo54@yahoo.com
         55   Yara55   22     A     yara55@yahoo.com
         56    Eva56   19     C     eva56@school.edu
         57   Nina57   21     B    nina57@school.edu
         58    Eva58   20     A      eva58@yahoo.com
         59  Oscar59   21     B    oscar59@yahoo.com
         60   Yara60   18     B     yara60@gmail.com
         61  Oscar61   23     D    oscar61@gmail.com
         62   Rita62   23     C     rita62@gmail.com
         63 Victor63   20     D   victor63@yahoo.com
         64 Xander64   19     D   xander64@yahoo.com
         65 Hannah65   22     D  hannah65@school.edu
         66   Nina66   25     D    nina66@school.edu
         67 Victor67   18     A victor67@outlook.com
         68  Karen68   18     A   karen68@school.edu
         69  Grace69   18     D    grace69@gmail.com
         70   Jack70   24     A    jack70@school.edu
         71   Nina71   23     B   nina71@outlook.com
         72    Ian72   22     D      ian72@gmail.com
         73  Grace73   19     A    grace73@yahoo.com
         74  Grace74   24     C    grace74@gmail.com
         75 Quincy75   23     D  quincy75@school.edu
         76  Oscar76   19     D   oscar76@school.edu
         77  Grace77   22     D  grace77@outlook.com
         78    Ian78   22     D    ian78@outlook.com
         79 Xander79   24     C xander79@outlook.com
         80   Tina80   22     D     tina80@gmail.com
         81  Wendy81   20     A   wendy81@school.edu
         82  Karen82   23     B  karen82@outlook.com
         83    Leo83   18     C    leo83@outlook.com
         84    Bob84   18     A     bob84@school.edu
         85   Rita85   18     A   rita85@outlook.com
         86  Alice86   21     B  alice86@outlook.com
         87    Sam87   19     C      sam87@yahoo.com
         88  Wendy88   23     A    wendy88@yahoo.com
         89   Tina89   21     C   tina89@outlook.com
         90   Zane90   25     D     zane90@gmail.com
         91   Tina91   21     D     tina91@yahoo.com
         92  Wendy92   19     C    wendy92@gmail.com
         93 Quincy93   19     A   quincy93@gmail.com
         94    Eva94   24     C     eva94@school.edu
         95   Tina95   25     D   tina95@outlook.com
         96    Ian96   25     C     ian96@school.edu
         97   Mona97   22     C     mona97@gmail.com
         98    Leo98   25     A     leo98@school.edu
         99    Bob99   23     C    bob99@outlook.com
        100  Paul100   19     B  paul100@outlook.com

In [ ]:
#5. Write a program to update the grade of a student (given student_id) via a Python input prompt. 
from pymongo import MongoClient

db = MongoClient("mongodb://localhost:27017/")["schools_db"]

student_id = int(input("Enter Student ID: "))
new_grade = input("Enter new grade: ")

result = db.students.update_one({"student_id": student_id}, {"$set": {"grade": new_grade}})

print(result.modified_count, "record updated.")

1 record updated.

In [ ]:
#6.Delete a student from the students table using Python input for student_id. 
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["schools_db"]


student_id = int(input("Enter Student ID to delete: "))


db.students.delete_one({"student_id": student_id})


db.enrollments.delete_many({"student_id": student_id})

print(" Student and related enrollments deleted successfully.")

 Student and related enrollments deleted successfully.

In [33]:
import pandas as pd
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["schools_db"]
df_c = db["courses"]

# Load CSV
courses = pd.read_csv("./courses.csv")

# Drop accidental _id column if present
if "_id" in courses.columns:
    courses = courses.drop(columns=["_id"])

# Convert DataFrame to dict
df_courses = courses.to_dict(orient="records")

# Insert or update courses
for rec in df_courses:
    df_c.update_one(
        {"course_id": rec["course_id"]},  # match by course_id
        {"$set": rec},                   # update existing or insert new
        upsert=True
    )

print("Courses uploaded successfully!")

Courses uploaded successfully!

In [34]:

student_id = int(input("Enter Student ID: "))
course_id = int(input("Enter Course ID: "))

student = df_s.find_one({"student_id": student_id})
course = df_c.find_one({"course_id": course_id})

if student and course:
    df_e.insert_one({
        "student_id": student_id,
        "course_id": course_id
    })
    print("Enrollment added successfully!")
else:
    print("Error: Student or Course does not exist (foreign key check failed)")

Enrollment added successfully!

In [35]:
print("Students sample:", list(df_s.find().limit(3)))
print("Courses sample:", list(df_c.find().limit(3)))

Students sample: [{'_id': ObjectId('68c8102cc898523f23f73758'), 'student_id': 1, 'name': 'Zane1', 'age': 18, 'grade': 'C', 'email': 'zane149@school.com', 'school_email': 'zane172@school.com'}, {'_id': ObjectId('68c8102cc898523f23f7375a'), 'student_id': 3, 'name': 'Wendy3', 'age': 22, 'grade': 'B', 'email': 'wendy342@school.com', 'school_email': 'wendy340@school.com'}, {'_id': ObjectId('68c8102cc898523f23f7375b'), 'student_id': 4, 'name': 'Xander4', 'age': 22, 'grade': 'A', 'email': 'xander457@school.com', 'school_email': 'xander422@school.com'}]
Courses sample: [{'_id': ObjectId('68c8ff0c4a5a8867ea803249'), 'course_id': 1, 'course_name': 'Mathematics', 'instructor': 'Dr. Smith'}, {'_id': ObjectId('68c8ff0c4a5a8867ea80324a'), 'course_id': 2, 'course_name': 'Physics', 'instructor': 'Dr. Johnson'}, {'_id': ObjectId('68c8ff0c4a5a8867ea80324b'), 'course_id': 3, 'course_name': 'Chemistry', 'instructor': 'Dr. Brown'}]

In [36]:
#7.Write a Python script to insert enrollment records linking students with their courses, ensuring foreign key integrity. 
db=MongoClient()["schools_db"]
df_s=db["students"]
df_c=db["courses"]
df_e=db["enrollment"]
student_id = int(input("Enter Student ID: "))
course_id = int(input("Enter Course ID: "))

student = df_s.find_one({"student_id": student_id})
course = df_c.find_one({"course_id": course_id})


if student and course:
    df_e.insert_one({
        "student_id": student_id,
        "course_id": course_id
    })
    print("Enrollment added successfully!")
else:
    print("Error: Student or Course does not exist (foreign key check failed).")

Enrollment added successfully!

In [11]:
#8.Fetch all students enrolled in a particular course (given course_id as input). 
course_id = int(input("Enter course ID: "))

# Step 1: Find all enrollments for the course
enrollments = db.enrollment.find({"course_id": course_id}, {"student_id": 1, "_id": 0})

# Step 2: Fetch matching students
student_ids = [e["student_id"] for e in enrollments]

if student_ids:
    students = db.students.find({"student_id": {"$in": student_ids}}, {"_id": 0})
    print("\nStudents enrolled in course", course_id)
    for s in students:
        print(s)
else:
    print("No students enrolled in this course.")

No students enrolled in this course.

In [2]:
#9..Write a program to display students who are not enrolled in any course.
from pymongo import MongoClient
 
client = MongoClient("mongodb://localhost:27017/")
db = client["schools_db"]
 
students = db.students
enrollments = db.enrollments
 
 
enrolled_ids = enrollments.distinct("student_id")
 
not_enrolled = students.find(
    {"student_id": {"$nin": enrolled_ids}},
    {"_id": 0, "student_id": 1, "name": 1}
)
 
for s in not_enrolled:
    print(s)

{'student_id': 1, 'name': 'Zane1'}
{'student_id': 3, 'name': 'Wendy3'}
{'student_id': 4, 'name': 'Xander4'}
{'student_id': 5, 'name': 'Victor5'}
{'student_id': 6, 'name': 'Ian6'}
{'student_id': 7, 'name': 'Leo7'}
{'student_id': 8, 'name': 'Paul8'}
{'student_id': 9, 'name': 'Wendy9'}
{'student_id': 10, 'name': 'Leo10'}
{'student_id': 11, 'name': 'Uma11'}
{'student_id': 12, 'name': 'Rita12'}
{'student_id': 13, 'name': 'Yara13'}
{'student_id': 14, 'name': 'Bob14'}
{'student_id': 15, 'name': 'Quincy15'}
{'student_id': 16, 'name': 'Tina16'}
{'student_id': 17, 'name': 'Alice17'}
{'student_id': 18, 'name': 'Sam18'}
{'student_id': 19, 'name': 'Paul19'}
{'student_id': 20, 'name': 'Victor20'}
{'student_id': 21, 'name': 'Frank21'}
{'student_id': 22, 'name': 'Victor22'}
{'student_id': 23, 'name': 'Karen23'}
{'student_id': 24, 'name': 'Grace24'}
{'student_id': 25, 'name': 'Quincy25'}
{'student_id': 26, 'name': 'Mona26'}
{'student_id': 27, 'name': 'Uma27'}
{'student_id': 28, 'name': 'Nina28'}
{'student_id': 29, 'name': 'Ian29'}
{'student_id': 30, 'name': 'Tina30'}
{'student_id': 31, 'name': 'Nina31'}
{'student_id': 32, 'name': 'Hannah32'}
{'student_id': 33, 'name': 'David33'}
{'student_id': 34, 'name': 'Wendy34'}
{'student_id': 35, 'name': 'Frank35'}
{'student_id': 36, 'name': 'Paul36'}
{'student_id': 37, 'name': 'Ian37'}
{'student_id': 38, 'name': 'Paul38'}
{'student_id': 39, 'name': 'Hannah39'}
{'student_id': 40, 'name': 'Zane40'}
{'student_id': 41, 'name': 'Ian41'}
{'student_id': 42, 'name': 'Quincy42'}
{'student_id': 43, 'name': 'Quincy43'}
{'student_id': 44, 'name': 'Tina44'}
{'student_id': 45, 'name': 'Xander45'}
{'student_id': 46, 'name': 'Zane46'}
{'student_id': 47, 'name': 'Eva47'}
{'student_id': 48, 'name': 'Leo48'}
{'student_id': 49, 'name': 'Uma49'}
{'student_id': 50, 'name': 'Bob50'}
{'student_id': 51, 'name': 'Karen51'}
{'student_id': 52, 'name': 'Hannah52'}
{'student_id': 53, 'name': 'Bob53'}
{'student_id': 54, 'name': 'Leo54'}
{'student_id': 55, 'name': 'Yara55'}
{'student_id': 56, 'name': 'Eva56'}
{'student_id': 57, 'name': 'Nina57'}
{'student_id': 58, 'name': 'Eva58'}
{'student_id': 59, 'name': 'Oscar59'}
{'student_id': 60, 'name': 'Yara60'}
{'student_id': 61, 'name': 'Oscar61'}
{'student_id': 62, 'name': 'Rita62'}
{'student_id': 63, 'name': 'Victor63'}
{'student_id': 64, 'name': 'Xander64'}
{'student_id': 65, 'name': 'Hannah65'}
{'student_id': 66, 'name': 'Nina66'}
{'student_id': 67, 'name': 'Victor67'}
{'student_id': 68, 'name': 'Karen68'}
{'student_id': 69, 'name': 'Grace69'}
{'student_id': 70, 'name': 'Jack70'}
{'student_id': 71, 'name': 'Nina71'}
{'student_id': 72, 'name': 'Ian72'}
{'student_id': 73, 'name': 'Grace73'}
{'student_id': 74, 'name': 'Grace74'}
{'student_id': 75, 'name': 'Quincy75'}
{'student_id': 76, 'name': 'Oscar76'}
{'student_id': 77, 'name': 'Grace77'}
{'student_id': 78, 'name': 'Ian78'}
{'student_id': 79, 'name': 'Xander79'}
{'student_id': 80, 'name': 'Tina80'}
{'student_id': 81, 'name': 'Wendy81'}
{'student_id': 82, 'name': 'Karen82'}
{'student_id': 83, 'name': 'Leo83'}
{'student_id': 84, 'name': 'Bob84'}
{'student_id': 85, 'name': 'Rita85'}
{'student_id': 86, 'name': 'Alice86'}
{'student_id': 87, 'name': 'Sam87'}
{'student_id': 88, 'name': 'Wendy88'}
{'student_id': 89, 'name': 'Tina89'}
{'student_id': 90, 'name': 'Zane90'}
{'student_id': 91, 'name': 'Tina91'}
{'student_id': 92, 'name': 'Wendy92'}
{'student_id': 93, 'name': 'Quincy93'}
{'student_id': 94, 'name': 'Eva94'}
{'student_id': 95, 'name': 'Tina95'}
{'student_id': 96, 'name': 'Ian96'}
{'student_id': 97, 'name': 'Mona97'}
{'student_id': 98, 'name': 'Leo98'}
{'student_id': 99, 'name': 'Bob99'}
{'student_id': 100, 'name': 'Paul100'}

In [9]:
print("Students:", list(db.students.find().limit(3)))
print("Enrollments:", list(db.enrollments.find().limit(3)))
print("Courses:", list(db.courses.find().limit(3)))

Students: [{'_id': ObjectId('68c85a2da2f169f33b2e5c37'), 'student_id': 1, 'name': 'Alice'}, {'_id': ObjectId('68c85a2da2f169f33b2e5c38'), 'student_id': 2, 'name': 'Bob'}, {'_id': ObjectId('68c85ac7a2f169f33b2e5c3d'), 'student_id': 3, 'name': 'Student_3'}]
Enrollments: []
Courses: []

In [ ]:
student_id_filter = input("Enter Student ID (or leave blank for all): ")
course_id_filter = input("Enter Course ID (or leave blank for all): ")

match_filter = {}
if student_id_filter.strip():
    match_filter["student_id"] = int(student_id_filter)
if course_id_filter.strip():
    match_filter["course_id"] = int(course_id_filter)

pipeline = []
if match_filter:
    pipeline.append({"$match": match_filter})

# Add the same $lookup/$unwind/$project stages as before
pipeline += [
    {"$lookup": {
        "from": "students",
        "localField": "student_id",
        "foreignField": "student_id",
        "as": "student_info"
    }},
    {"$unwind": "$student_info"},
    {"$lookup": {
        "from": "courses",
        "localField": "course_id",
        "foreignField": "course_id",
        "as": "course_info"
    }},
    {"$unwind": "$course_info"},
    {"$project": {
        "_id": 0,
        "student_name": "$student_info.name",
        "course_name": "$course_info.course_name",
        "instructor": "$course_info.instructor"
    }}
]

results = list(df_e.aggregate(pipeline))
for r in results:
    print(f"{r['student_name']} → {r['course_name']} ({r['instructor']})")

Student → Course (Instructor)
Zane1 → Mathematics (Dr. Smith)
Uma2 → Physics (Dr. Johnson)
Wendy3 → Chemistry (Dr. Brown)

In [46]:
from pymongo import MongoClient
import pandas as pd

enrollments = pd.read_csv("./enrollments.csv")
df_e.delete_many({})  # optional: clear previous enrollments

for rec in enrollments.to_dict(orient="records"):
    df_e.insert_one(rec)

client = MongoClient("mongodb://localhost:27017/")
db = client["school_db"]

pipeline = [
    # Lookup student info
    {"$lookup": {
        "from": "students",
        "localField": "student_id",
        "foreignField": "student_id",
        "as": "student_info"
    }},
    {"$unwind": "$student_info"},

    # Lookup course info
    {"$lookup": {
        "from": "courses",
        "localField": "course_id",
        "foreignField": "course_id",
        "as": "course_info"
    }},
    {"$unwind": "$course_info"},

    # Group by student and collect courses in a list
    {"$group": {
        "_id": "$student_info.name",
        "courses": {"$push": "$course_info.course_name"}
    }},

    # Project final output
    {"$project": {
        "_id": 0,
        "student_name": "$_id",
        "courses": 1
    }}
]

results = list(db.enrollments.aggregate(pipeline))

# Print nicely
for r in results:
    print(f"{r['student_name']} → {', '.join(r['courses'])}")

Xander79 → Chemistry, History
Nina31 → Biology, Philosophy, Chemistry
Wendy81 → Mathematics, History, Economics
Leo83 → Philosophy, Chemistry, Physics
Tina80 → History
Tina16 → Economics, Biology, Mathematics
Wendy9 → Philosophy
Quincy15 → English Literature, History, Physics
Quincy42 → Statistics, History, Computer Science
Yara60 → Physics, Biology
Rita62 → Mathematics
Uma11 → Chemistry, Economics, English Literature
Paul38 → Biology
Karen68 → Chemistry
Tina91 → Biology, Mathematics, Physics
Nina28 → Chemistry, Mathematics
Grace73 → Computer Science, Statistics
Oscar61 → Mathematics
Alice17 → Economics, Mathematics, Computer Science
Victor67 → Computer Science
Nina71 → History, Mathematics
Zane90 → Physics
Leo7 → Mathematics
Wendy34 → Chemistry, English Literature
Oscar59 → Philosophy, English Literature, Statistics
Jack70 → Computer Science, Statistics
Ian6 → Computer Science, Biology, History
Zane1 → Statistics
Victor20 → English Literature, Biology, Statistics
Bob14 → Chemistry, Mathematics
Paul19 → Philosophy, Mathematics
Ian37 → Physics, Economics
Rita85 → Computer Science
Wendy88 → History
Ian72 → Chemistry, Computer Science, Philosophy
Tina89 → Mathematics
Mona97 → History
Tina44 → Philosophy
Ian96 → Philosophy, History, Physics
Alice86 → Chemistry
Paul100 → Philosophy
Eva94 → Economics, Statistics
Paul8 → Philosophy
Tina30 → Chemistry, Economics, Mathematics
Uma27 → Economics
Zane40 → Biology
Bob99 → Computer Science, Physics
Bob84 → History, Chemistry
Bob50 → Computer Science
Frank21 → Computer Science, Economics
Hannah65 → Chemistry
Eva56 → Economics
Hannah32 → Biology, Philosophy
Hannah52 → Physics, Chemistry
David33 → History, Biology
Paul36 → Economics, Biology
Victor22 → Chemistry, Statistics, Philosophy
Karen51 → Computer Science, English Literature, Biology
Wendy3 → English Literature
Bob53 → Physics, History, Biology
Nina66 → Chemistry, Biology, Economics
Zane46 → Mathematics, Statistics, History
Grace74 → Economics, Mathematics, Computer Science
Frank35 → Computer Science
Nina57 → Physics, Computer Science, History
Grace77 → Biology, Economics, Mathematics
Uma49 → Biology, Computer Science
Mona26 → Philosophy, English Literature, Mathematics
Quincy43 → Physics
Leo48 → Mathematics, Biology, Statistics
Wendy92 → Computer Science, Mathematics, English Literature
Ian41 → Statistics, Chemistry
Hannah39 → Economics
Grace69 → Economics, English Literature, Chemistry
Quincy93 → Computer Science, Chemistry
Xander4 → Statistics
Yara55 → Economics, Statistics, Philosophy
Ian29 → History, Chemistry
Quincy75 → Physics, History
Quincy25 → Philosophy
Xander45 → Economics, History, Statistics
Uma2 → Economics
Ian78 → Physics, Philosophy, Statistics
Sam87 → Statistics, Philosophy, English Literature
Grace24 → Computer Science, English Literature
Xander64 → Chemistry, Philosophy, Biology
Karen82 → Chemistry
Eva58 → Mathematics
Eva47 → Physics
Leo54 → Chemistry, Philosophy, History
Karen23 → History
Rita12 → Statistics
Sam18 → Chemistry
Yara13 → Physics, Philosophy, Statistics
Oscar76 → Computer Science, English Literature, Philosophy
Victor5 → Statistics, Chemistry, Economics
Leo10 → Computer Science, Chemistry, Mathematics
Tina95 → Chemistry
Victor63 → History

In [47]:
#11. Write a Python function to search for a student by name (partial matches allowed using LIKE).
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/")
db = client["school"]
partial_name = input("Enter student name (partial search): ")
query = {"name": {"$regex": partial_name, "$options": "i"}}
students = db.students.find(query, {"_id": 0})
found = False
print("\nSearch results:\n")
for student in students:
    found = True
    print("ID:", student.get("student_id"),
          "| Name:", student.get("name"),
          "| Age:", student.get("age"),
          "| Grade:", student.get("grade"),
          "| Email:", student.get("email"))
if not found:
    print("No matching student found.")

Search results:

ID: 1 | Name: Alice | Age: None | Grade: None | Email: None
ID: 2 | Name: Bob | Age: None | Grade: None | Email: None
ID: 3 | Name: Student_3 | Age: None | Grade: None | Email: None
ID: 4 | Name: Student_4 | Age: None | Grade: None | Email: None
ID: 5 | Name: Student_5 | Age: None | Grade: None | Email: None
ID: 6 | Name: Student_6 | Age: None | Grade: None | Email: None
ID: 7 | Name: Student_7 | Age: None | Grade: None | Email: None
ID: 8 | Name: Student_8 | Age: None | Grade: None | Email: None
ID: 9 | Name: Student_9 | Age: None | Grade: None | Email: None
ID: 10 | Name: Student_10 | Age: None | Grade: None | Email: None
ID: 11 | Name: Student_11 | Age: None | Grade: None | Email: None
ID: 12 | Name: Student_12 | Age: None | Grade: None | Email: None
ID: 13 | Name: Student_13 | Age: None | Grade: None | Email: None
ID: 14 | Name: Student_14 | Age: None | Grade: None | Email: None
ID: 15 | Name: Student_15 | Age: None | Grade: None | Email: None
ID: 16 | Name: Student_16 | Age: None | Grade: None | Email: None
ID: 17 | Name: Student_17 | Age: None | Grade: None | Email: None
ID: 18 | Name: Student_18 | Age: None | Grade: None | Email: None
ID: 19 | Name: Student_19 | Age: None | Grade: None | Email: None
ID: 20 | Name: Student_20 | Age: None | Grade: None | Email: None
ID: 21 | Name: Student_21 | Age: None | Grade: None | Email: None
ID: 22 | Name: Student_22 | Age: None | Grade: None | Email: None
ID: 23 | Name: Student_23 | Age: None | Grade: None | Email: None
ID: 24 | Name: Student_24 | Age: None | Grade: None | Email: None
ID: 25 | Name: Student_25 | Age: None | Grade: None | Email: None
ID: 26 | Name: Student_26 | Age: None | Grade: None | Email: None
ID: 27 | Name: Student_27 | Age: None | Grade: None | Email: None
ID: 28 | Name: Student_28 | Age: None | Grade: None | Email: None
ID: 29 | Name: Student_29 | Age: None | Grade: None | Email: None
ID: 30 | Name: Student_30 | Age: None | Grade: None | Email: None
ID: 31 | Name: Student_31 | Age: None | Grade: None | Email: None
ID: 32 | Name: Student_32 | Age: None | Grade: None | Email: None
ID: 33 | Name: Student_33 | Age: None | Grade: None | Email: None
ID: 34 | Name: Student_34 | Age: None | Grade: None | Email: None
ID: 35 | Name: Student_35 | Age: None | Grade: None | Email: None
ID: 36 | Name: Student_36 | Age: None | Grade: None | Email: None
ID: 37 | Name: Student_37 | Age: None | Grade: None | Email: None
ID: 38 | Name: Student_38 | Age: None | Grade: None | Email: None
ID: 39 | Name: Student_39 | Age: None | Grade: None | Email: None
ID: 40 | Name: Student_40 | Age: None | Grade: None | Email: None
ID: 41 | Name: Student_41 | Age: None | Grade: None | Email: None
ID: 42 | Name: Student_42 | Age: None | Grade: None | Email: None
ID: 43 | Name: Student_43 | Age: None | Grade: None | Email: None
ID: 44 | Name: Student_44 | Age: None | Grade: None | Email: None
ID: 45 | Name: Student_45 | Age: None | Grade: None | Email: None
ID: 46 | Name: Student_46 | Age: None | Grade: None | Email: None
ID: 47 | Name: Student_47 | Age: None | Grade: None | Email: None
ID: 48 | Name: Student_48 | Age: None | Grade: None | Email: None
ID: 49 | Name: Student_49 | Age: None | Grade: None | Email: None
ID: 50 | Name: Student_50 | Age: None | Grade: None | Email: None
ID: 51 | Name: Student_51 | Age: None | Grade: None | Email: None
ID: 52 | Name: Student_52 | Age: None | Grade: None | Email: None
ID: 53 | Name: Student_53 | Age: None | Grade: None | Email: None
ID: 54 | Name: Student_54 | Age: None | Grade: None | Email: None
ID: 55 | Name: Student_55 | Age: None | Grade: None | Email: None
ID: 56 | Name: Student_56 | Age: None | Grade: None | Email: None
ID: 57 | Name: Student_57 | Age: None | Grade: None | Email: None
ID: 58 | Name: Student_58 | Age: None | Grade: None | Email: None
ID: 59 | Name: Student_59 | Age: None | Grade: None | Email: None
ID: 60 | Name: Student_60 | Age: None | Grade: None | Email: None
ID: 61 | Name: Student_61 | Age: None | Grade: None | Email: None
ID: 62 | Name: Student_62 | Age: None | Grade: None | Email: None
ID: 63 | Name: Student_63 | Age: None | Grade: None | Email: None
ID: 64 | Name: Student_64 | Age: None | Grade: None | Email: None
ID: 65 | Name: Student_65 | Age: None | Grade: None | Email: None
ID: 66 | Name: Student_66 | Age: None | Grade: None | Email: None
ID: 67 | Name: Student_67 | Age: None | Grade: None | Email: None
ID: 68 | Name: Student_68 | Age: None | Grade: None | Email: None
ID: 69 | Name: Student_69 | Age: None | Grade: None | Email: None
ID: 70 | Name: Student_70 | Age: None | Grade: None | Email: None
ID: 71 | Name: Student_71 | Age: None | Grade: None | Email: None
ID: 72 | Name: Student_72 | Age: None | Grade: None | Email: None
ID: 73 | Name: Student_73 | Age: None | Grade: None | Email: None
ID: 74 | Name: Student_74 | Age: None | Grade: None | Email: None
ID: 75 | Name: Student_75 | Age: None | Grade: None | Email: None
ID: 76 | Name: Student_76 | Age: None | Grade: None | Email: None
ID: 77 | Name: Student_77 | Age: None | Grade: None | Email: None
ID: 78 | Name: Student_78 | Age: None | Grade: None | Email: None
ID: 79 | Name: Student_79 | Age: None | Grade: None | Email: None
ID: 80 | Name: Student_80 | Age: None | Grade: None | Email: None
ID: 81 | Name: Student_81 | Age: None | Grade: None | Email: None
ID: 82 | Name: Student_82 | Age: None | Grade: None | Email: None
ID: 83 | Name: Student_83 | Age: None | Grade: None | Email: None
ID: 84 | Name: Student_84 | Age: None | Grade: None | Email: None
ID: 85 | Name: Student_85 | Age: None | Grade: None | Email: None
ID: 86 | Name: Student_86 | Age: None | Grade: None | Email: None
ID: 87 | Name: Student_87 | Age: None | Grade: None | Email: None
ID: 88 | Name: Student_88 | Age: None | Grade: None | Email: None
ID: 89 | Name: Student_89 | Age: None | Grade: None | Email: None
ID: 90 | Name: Student_90 | Age: None | Grade: None | Email: None
ID: 91 | Name: Student_91 | Age: None | Grade: None | Email: None
ID: 92 | Name: Student_92 | Age: None | Grade: None | Email: None
ID: 93 | Name: Student_93 | Age: None | Grade: None | Email: None
ID: 94 | Name: Student_94 | Age: None | Grade: None | Email: None
ID: 95 | Name: Student_95 | Age: None | Grade: None | Email: None
ID: 96 | Name: Student_96 | Age: None | Grade: None | Email: None
ID: 97 | Name: Student_97 | Age: None | Grade: None | Email: None
ID: 98 | Name: Student_98 | Age: None | Grade: None | Email: None
ID: 99 | Name: Student_99 | Age: None | Grade: None | Email: None
ID: 100 | Name: Student_100 | Age: None | Grade: None | Email: None

In [51]:
import numpy as np

domains = ["gmail.com", "yahoo.com", "outlook.com", "example.com"]
chars = list("abcdefghijklmnopqrstuvwxyz0123456789")

for s in df_s.find({}, {"_id": 0, "student_id": 1, "name": 1}):
    random_str = ''.join(np.random.choice(chars, 3))
    domain = np.random.choice(domains)
    school_email = f"{s['name'].lower()}{random_str}@{domain}"

    df_s.update_one(
        {"student_id": s["student_id"]},
        {"$set": {"school_email": school_email}}
    )

print("Emails added successfully!")

for s in df_s.find({}, {"_id": 0, "student_id": 1, "name": 1, "email": 1}): 
    print(s)

Emails added successfully!
{'student_id': 1, 'email': 'zane149@school.com', 'name': 'Zane1'}
{'student_id': 2, 'email': 'uma254@school.com', 'name': 'Uma2'}
{'student_id': 3, 'email': 'wendy342@school.com', 'name': 'Wendy3'}
{'student_id': 4, 'email': 'xander457@school.com', 'name': 'Xander4'}
{'student_id': 5, 'email': 'victor592@school.com', 'name': 'Victor5'}
{'student_id': 6, 'email': 'ian688@school.com', 'name': 'Ian6'}
{'student_id': 7, 'email': 'leo779@school.com', 'name': 'Leo7'}
{'student_id': 8, 'email': 'paul841@school.com', 'name': 'Paul8'}
{'student_id': 9, 'email': 'wendy946@school.com', 'name': 'Wendy9'}
{'student_id': 10, 'email': 'leo1045@school.com', 'name': 'Leo10'}
{'student_id': 11, 'email': 'uma1197@school.com', 'name': 'Uma11'}
{'student_id': 12, 'email': 'rita1234@school.com', 'name': 'Rita12'}
{'student_id': 13, 'email': 'yara1324@school.com', 'name': 'Yara13'}
{'student_id': 14, 'email': 'bob1437@school.com', 'name': 'Bob14'}
{'student_id': 15, 'email': 'quincy1568@school.com', 'name': 'Quincy15'}
{'student_id': 16, 'email': 'tina1652@school.com', 'name': 'Tina16'}
{'student_id': 17, 'email': 'alice1785@school.com', 'name': 'Alice17'}
{'student_id': 18, 'email': 'sam1812@school.com', 'name': 'Sam18'}
{'student_id': 19, 'email': 'paul1942@school.com', 'name': 'Paul19'}
{'student_id': 20, 'email': 'victor2032@school.com', 'name': 'Victor20'}
{'student_id': 21, 'email': 'frank2110@school.com', 'name': 'Frank21'}
{'student_id': 22, 'email': 'victor2282@school.com', 'name': 'Victor22'}
{'student_id': 23, 'email': 'karen2315@school.com', 'name': 'Karen23'}
{'student_id': 24, 'email': 'grace2472@school.com', 'name': 'Grace24'}
{'student_id': 25, 'email': 'quincy2517@school.com', 'name': 'Quincy25'}
{'student_id': 26, 'email': 'mona2678@school.com', 'name': 'Mona26'}
{'student_id': 27, 'email': 'uma2786@school.com', 'name': 'Uma27'}
{'student_id': 28, 'email': 'nina2861@school.com', 'name': 'Nina28'}
{'student_id': 29, 'email': 'ian2973@school.com', 'name': 'Ian29'}
{'student_id': 30, 'email': 'tina3025@school.com', 'name': 'Tina30'}
{'student_id': 31, 'email': 'nina318@school.com', 'name': 'Nina31'}
{'student_id': 32, 'email': 'hannah3256@school.com', 'name': 'Hannah32'}
{'student_id': 33, 'email': 'david3347@school.com', 'name': 'David33'}
{'student_id': 34, 'email': 'wendy3490@school.com', 'name': 'Wendy34'}
{'student_id': 35, 'email': 'frank3527@school.com', 'name': 'Frank35'}
{'student_id': 36, 'email': 'paul3628@school.com', 'name': 'Paul36'}
{'student_id': 37, 'email': 'ian3793@school.com', 'name': 'Ian37'}
{'student_id': 38, 'email': 'paul3897@school.com', 'name': 'Paul38'}
{'student_id': 39, 'email': 'hannah3982@school.com', 'name': 'Hannah39'}
{'student_id': 40, 'email': 'zane4017@school.com', 'name': 'Zane40'}
{'student_id': 41, 'email': 'ian41100@school.com', 'name': 'Ian41'}
{'student_id': 42, 'email': 'quincy4215@school.com', 'name': 'Quincy42'}
{'student_id': 43, 'email': 'quincy4312@school.com', 'name': 'Quincy43'}
{'student_id': 44, 'email': 'tina4444@school.com', 'name': 'Tina44'}
{'student_id': 45, 'email': 'xander4560@school.com', 'name': 'Xander45'}
{'student_id': 46, 'email': 'zane4632@school.com', 'name': 'Zane46'}
{'student_id': 47, 'email': 'eva4718@school.com', 'name': 'Eva47'}
{'student_id': 48, 'email': 'leo4847@school.com', 'name': 'Leo48'}
{'student_id': 49, 'email': 'uma4966@school.com', 'name': 'Uma49'}
{'student_id': 50, 'email': 'bob5041@school.com', 'name': 'Bob50'}
{'student_id': 51, 'email': 'karen5197@school.com', 'name': 'Karen51'}
{'student_id': 52, 'email': 'hannah5259@school.com', 'name': 'Hannah52'}
{'student_id': 53, 'email': 'bob5354@school.com', 'name': 'Bob53'}
{'student_id': 54, 'email': 'leo5426@school.com', 'name': 'Leo54'}
{'student_id': 55, 'email': 'yara5546@school.com', 'name': 'Yara55'}
{'student_id': 56, 'email': 'eva569@school.com', 'name': 'Eva56'}
{'student_id': 57, 'email': 'nina572@school.com', 'name': 'Nina57'}
{'student_id': 58, 'email': 'eva5835@school.com', 'name': 'Eva58'}
{'student_id': 59, 'email': 'oscar591@school.com', 'name': 'Oscar59'}
{'student_id': 60, 'email': 'yara6031@school.com', 'name': 'Yara60'}
{'student_id': 61, 'email': 'oscar618@school.com', 'name': 'Oscar61'}
{'student_id': 62, 'email': 'rita6264@school.com', 'name': 'Rita62'}
{'student_id': 63, 'email': 'victor6329@school.com', 'name': 'Victor63'}
{'student_id': 64, 'email': 'xander6467@school.com', 'name': 'Xander64'}
{'student_id': 65, 'email': 'hannah6552@school.com', 'name': 'Hannah65'}
{'student_id': 66, 'email': 'nina6651@school.com', 'name': 'Nina66'}
{'student_id': 67, 'email': 'victor6738@school.com', 'name': 'Victor67'}
{'student_id': 68, 'email': 'karen6876@school.com', 'name': 'Karen68'}
{'student_id': 69, 'email': 'grace694@school.com', 'name': 'Grace69'}
{'student_id': 70, 'email': 'jack7070@school.com', 'name': 'Jack70'}
{'student_id': 71, 'email': 'nina7115@school.com', 'name': 'Nina71'}
{'student_id': 72, 'email': 'ian7238@school.com', 'name': 'Ian72'}
{'student_id': 73, 'email': 'grace7369@school.com', 'name': 'Grace73'}
{'student_id': 74, 'email': 'grace7467@school.com', 'name': 'Grace74'}
{'student_id': 75, 'email': 'quincy7569@school.com', 'name': 'Quincy75'}
{'student_id': 76, 'email': 'oscar7617@school.com', 'name': 'Oscar76'}
{'student_id': 77, 'email': 'grace7770@school.com', 'name': 'Grace77'}
{'student_id': 78, 'email': 'ian7836@school.com', 'name': 'Ian78'}
{'student_id': 79, 'email': 'xander7975@school.com', 'name': 'Xander79'}
{'student_id': 80, 'email': 'tina8097@school.com', 'name': 'Tina80'}
{'student_id': 81, 'email': 'wendy8111@school.com', 'name': 'Wendy81'}
{'student_id': 82, 'email': 'karen8295@school.com', 'name': 'Karen82'}
{'student_id': 83, 'email': 'leo8360@school.com', 'name': 'Leo83'}
{'student_id': 84, 'email': 'bob8446@school.com', 'name': 'Bob84'}
{'student_id': 85, 'email': 'rita8526@school.com', 'name': 'Rita85'}
{'student_id': 86, 'email': 'alice8639@school.com', 'name': 'Alice86'}
{'student_id': 87, 'email': 'sam8780@school.com', 'name': 'Sam87'}
{'student_id': 88, 'email': 'wendy8858@school.com', 'name': 'Wendy88'}
{'student_id': 89, 'email': 'tina8979@school.com', 'name': 'Tina89'}
{'student_id': 90, 'email': 'zane9073@school.com', 'name': 'Zane90'}
{'student_id': 91, 'email': 'tina917@school.com', 'name': 'Tina91'}
{'student_id': 92, 'email': 'wendy9277@school.com', 'name': 'Wendy92'}
{'student_id': 93, 'email': 'quincy9313@school.com', 'name': 'Quincy93'}
{'student_id': 94, 'email': 'eva9470@school.com', 'name': 'Eva94'}
{'student_id': 95, 'email': 'tina9561@school.com', 'name': 'Tina95'}
{'student_id': 96, 'email': 'ian961@school.com', 'name': 'Ian96'}
{'student_id': 97, 'email': 'mona9756@school.com', 'name': 'Mona97'}
{'student_id': 99, 'email': 'bob9925@school.com', 'name': 'Bob99'}
{'student_id': 100, 'email': 'paul10052@school.com', 'name': 'Paul100'}

In [52]:
#13. Create a program to count how many students are enrolled per course and display results in descending order
pipeline = [
    {"$group": {"_id": "$course_name", "num_students": {"$sum": 1}}},
    {"$sort": {"num_students": -1}}
]

# Run aggregation on the collection
results = list(df_e.aggregate(pipeline))

# Print results
for doc in results:
    print(f"Course: {doc['_id']}, Students Enrolled: {doc['num_students']}")

Course: None, Students Enrolled: 199

In [53]:
#14
course_name = input("Enter course name (partial allowed): ")

# find matching courses
for course in df_c.find({"course_name": {"$regex": course_name, "$options": "i"}}):
    print(f"\nStudents enrolled in {course['course_name']}:\n")
    enrollments = df_e.find({"course_id": course["course_id"]})
    found = False
    for e in enrollments:
        student = df_s.find_one({"student_id": e["student_id"]})
        if student:
            found = True
            print("ID:", student["student_id"],
                  "| Name:", student["name"],
                  "| Grade:", student["grade"])
    if not found:
        print("No students enrolled.")

Students enrolled in Physics:

ID: 13 | Name: Yara13 | Grade: B
ID: 15 | Name: Quincy15 | Grade: A
ID: 37 | Name: Ian37 | Grade: D
ID: 43 | Name: Quincy43 | Grade: D
ID: 47 | Name: Eva47 | Grade: D
ID: 52 | Name: Hannah52 | Grade: A
ID: 53 | Name: Bob53 | Grade: C
ID: 57 | Name: Nina57 | Grade: B
ID: 60 | Name: Yara60 | Grade: B
ID: 75 | Name: Quincy75 | Grade: D
ID: 78 | Name: Ian78 | Grade: D
ID: 83 | Name: Leo83 | Grade: C
ID: 90 | Name: Zane90 | Grade: D
ID: 91 | Name: Tina91 | Grade: D
ID: 96 | Name: Ian96 | Grade: C
ID: 99 | Name: Bob99 | Grade: B+

In [ ]:
#15.Export the contents of the students table into a CSV file using Python.
from pymongo import MongoClient
import pandas as pd   


client = MongoClient("mongodb://localhost:27017/")
db = client["school"]   

students = list(db.students.find({}, {"_id": 0}))

df = pd.DataFrame(students)

df.to_csv("students.csv", index=False)

print("Exported students to students.csv")

Exported students to students.csv

In [9]:
#18.Handle exceptions in Python to gracefully catch duplicate entries (e.g., inserting a student with the same ID)
from pymongo import MongoClient, errors

client = MongoClient("mongodb://localhost:27017/")
db = client["school"]
db.students.create_index("student_id", unique=True)


records = [{"student_id": i, "name": f"Student_{i}"} for i in range(1, 101)]

for rec in records:
    try:
        db.students.insert_one(rec)
        print(f"Inserted: {rec['student_id']} - {rec['name']}")
    except errors.DuplicateKeyError:
        print(f"Duplicate found! Student ID {rec['student_id']} already exists.")

Duplicate found! Student ID 1 already exists.
Duplicate found! Student ID 2 already exists.
Duplicate found! Student ID 3 already exists.
Duplicate found! Student ID 4 already exists.
Duplicate found! Student ID 5 already exists.
Duplicate found! Student ID 6 already exists.
Duplicate found! Student ID 7 already exists.
Duplicate found! Student ID 8 already exists.
Duplicate found! Student ID 9 already exists.
Duplicate found! Student ID 10 already exists.
Duplicate found! Student ID 11 already exists.
Duplicate found! Student ID 12 already exists.
Duplicate found! Student ID 13 already exists.
Duplicate found! Student ID 14 already exists.
Duplicate found! Student ID 15 already exists.
Duplicate found! Student ID 16 already exists.
Duplicate found! Student ID 17 already exists.
Duplicate found! Student ID 18 already exists.
Duplicate found! Student ID 19 already exists.
Duplicate found! Student ID 20 already exists.
Duplicate found! Student ID 21 already exists.
Duplicate found! Student ID 22 already exists.
Duplicate found! Student ID 23 already exists.
Duplicate found! Student ID 24 already exists.
Duplicate found! Student ID 25 already exists.
Duplicate found! Student ID 26 already exists.
Duplicate found! Student ID 27 already exists.
Duplicate found! Student ID 28 already exists.
Duplicate found! Student ID 29 already exists.
Duplicate found! Student ID 30 already exists.
Duplicate found! Student ID 31 already exists.
Duplicate found! Student ID 32 already exists.
Duplicate found! Student ID 33 already exists.
Duplicate found! Student ID 34 already exists.
Duplicate found! Student ID 35 already exists.
Duplicate found! Student ID 36 already exists.
Duplicate found! Student ID 37 already exists.
Duplicate found! Student ID 38 already exists.
Duplicate found! Student ID 39 already exists.
Duplicate found! Student ID 40 already exists.
Duplicate found! Student ID 41 already exists.
Duplicate found! Student ID 42 already exists.
Duplicate found! Student ID 43 already exists.
Duplicate found! Student ID 44 already exists.
Duplicate found! Student ID 45 already exists.
Duplicate found! Student ID 46 already exists.
Duplicate found! Student ID 47 already exists.
Duplicate found! Student ID 48 already exists.
Duplicate found! Student ID 49 already exists.
Duplicate found! Student ID 50 already exists.
Duplicate found! Student ID 51 already exists.
Duplicate found! Student ID 52 already exists.
Duplicate found! Student ID 53 already exists.
Duplicate found! Student ID 54 already exists.
Duplicate found! Student ID 55 already exists.
Duplicate found! Student ID 56 already exists.
Duplicate found! Student ID 57 already exists.
Duplicate found! Student ID 58 already exists.
Duplicate found! Student ID 59 already exists.
Duplicate found! Student ID 60 already exists.
Duplicate found! Student ID 61 already exists.
Duplicate found! Student ID 62 already exists.
Duplicate found! Student ID 63 already exists.
Duplicate found! Student ID 64 already exists.
Duplicate found! Student ID 65 already exists.
Duplicate found! Student ID 66 already exists.
Duplicate found! Student ID 67 already exists.
Duplicate found! Student ID 68 already exists.
Duplicate found! Student ID 69 already exists.
Duplicate found! Student ID 70 already exists.
Duplicate found! Student ID 71 already exists.
Duplicate found! Student ID 72 already exists.
Duplicate found! Student ID 73 already exists.
Duplicate found! Student ID 74 already exists.
Duplicate found! Student ID 75 already exists.
Duplicate found! Student ID 76 already exists.
Duplicate found! Student ID 77 already exists.
Duplicate found! Student ID 78 already exists.
Duplicate found! Student ID 79 already exists.
Duplicate found! Student ID 80 already exists.
Duplicate found! Student ID 81 already exists.
Duplicate found! Student ID 82 already exists.
Duplicate found! Student ID 83 already exists.
Duplicate found! Student ID 84 already exists.
Duplicate found! Student ID 85 already exists.
Duplicate found! Student ID 86 already exists.
Duplicate found! Student ID 87 already exists.
Duplicate found! Student ID 88 already exists.
Duplicate found! Student ID 89 already exists.
Duplicate found! Student ID 90 already exists.
Duplicate found! Student ID 91 already exists.
Duplicate found! Student ID 92 already exists.
Duplicate found! Student ID 93 already exists.
Duplicate found! Student ID 94 already exists.
Duplicate found! Student ID 95 already exists.
Duplicate found! Student ID 96 already exists.
Duplicate found! Student ID 97 already exists.
Duplicate found! Student ID 98 already exists.
Duplicate found! Student ID 99 already exists.
Duplicate found! Student ID 100 already exists.

In [10]:

#19. Write a program to implement transactions in Python:
# Insert a student
# Enroll them in a course
# Roll back if the second query fails
with client.start_session() as session:
    try:
        with session.start_transaction():
            student = {"student_id": "10", "name": "leo", "age": 45, "grade": "C"}
            db.students.insert_one(student, session=session)
            enrollment = {"enroll_id": "6000", "student_id": "10", "course_id": "8999"}
            db.enrollments.insert_one(enrollment, session=session)
            print("Transaction successful! Student and enrollment inserted.")
    except errors.PyMongoError as e:
        print("Transaction aborted due to error:", e)

Transaction aborted due to error: Transaction numbers are only allowed on a replica set member or mongos, full error: {'ok': 0.0, 'errmsg': 'Transaction numbers are only allowed on a replica set member or mongos', 'code': 20, 'codeName': 'IllegalOperation'}

In [ ]:
#20. Close the database connection safely in Python, ensuring both cursor and connection are properly closed
client.close()
print("MongoDB connection closed safely.")   #

MongoDB connection closed safely.